@model SysHotelVeraneras.EntidadesDeNegocio.Brazalete

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>¿ Esta seguro que desea eliminar ?</h3>
<div>
    <hr />
   
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
    </dl>
    
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdAsignacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asignacion.Nombre)
        </dd>
    </dl>

    @* FUNCTION ELIMINAR PRODUCTO*@
    @using (Html.BeginForm("Delete", "Brazalete", new { IdBrazalete = Model.IdBrazalete }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <button type="submit" class="btn btn-danger" onclick="return confirm('¿Está seguro de eliminar?');" style="background-color: #CDDEA7; color: white; border-color:#CDDEA7;">
            <i class="fas fa-trash"></i> Eliminar
        </button>

        <button type="button" class="btn btn-secondary" onclick="window.location.href='@Url.Action("Index")'" style="background-color: #ADC484; color: white; border-color:#ADC484;">
            <i class="fas fa-times"></i> Cancelar
        </button>
    }

</div>