@model SysHotelVeraneras.EntidadesDeNegocio.Brazalete

@{
    ViewData["Title"] = "Details";
        List<SysHotelVeraneras.EntidadesDeNegocio.Asignacion> asignaciones = ViewBag.Asignacion as List<SysHotelVeraneras.EntidadesDeNegocio.Asignacion>;

}

<h1>Detalles de brazalete</h1>
<hr />
<div>
    
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdAsignacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asignacion.Nombre)
        </dd>
    </dl>
</div>

@*BOTONES EDITADOS CON ICONOS*@

<td class="botonestabla">
    <button type="button" class="btn btn-success" style="background-color: #CDDEA7; color: white; border-color:#CDDEA7;" onclick="window.location.href='@Url.Action("Edit", new { IdBrazalete = Model.IdBrazalete })'">
        <i class="fas fa-pencil-alt"></i> Ir a Modificar
    </button>
</td>

<td class="botonestabla">
    <button type="button" class="btn btn-danger" onclick="window.location.href='@Url.Action("Index")'" style="background-color: #ADC484; color: white; border-color:#ADC484;">
        <i class="fas fa-times"></i> Cancelar
    </button>
</td>

